/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* GENERIC STYLE */
:root{
	--bg-color: #3535ec;
	--text-color: #ffffff;
	--accent-color: #f70d68;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
	
	/*Applico il font a tutta la pagina, per comodità*/
	font-family: 'Press Start 2P', cursive;
	
	line-height: 1.4;
	color: var(--text-color);
}

.container{
	width: 70%;
	min-width:400px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	margin: 5% auto;

	font-size: 20px;
	font-size: max(calc((vw+vh)/3), 8px);
	line-height: 40%;
}

.info-text{
	width: 90%;
	min-width:400px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	border: var(--accent-color) 3px solid;

	margin: 2% auto;
	margin-top: 0%;
}

.info-text > p {
	font-size: 8px;
	font-size: min(calc((vw+vh)/4), 8px);
	text-align: center;
	margin: calc((1vw+1vh)/2);
}

.header-images{
	width: 70%;
	min-width:400px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-images > #thumbs{
	width: 70%;
}

img{
	max-width: 100%;
}

ul{
	list-style-type: none;
	min-width: 300px;
}

li{
	margin-bottom: 10%;
}

a{
	text-decoration: none;
	color: var(--text-color);
}

a:hover{
	color: var(--accent-color);
}

.new{
	color: gold;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* STRUTTURA BASE GIOCHI */
.board{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.game-area{
	padding: 12px;

	/* Se non specifico top, left, bottom, etc lui è il mio riferimento ancora per quello absolute dell'alert! */
	position: relative;

	display: flex;
}

.game-data{
	padding: 12px;
	width: 240px;
}

h1{
	font-size: 36px;
	margin-bottom: 16px;
}

p{
	font-size: 16px;
	margin-bottom: 20px;
}

/* ALERT */
.game-alert{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-alert-message{
	font-size: 38px;
	padding: 20px;
	background-color: var(--accent-color);
}